KAFKA_USERNAME=
KAFKA_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=rc1a-jgsgh146qedrm60e.mdb.yandexcloud.net:9091,rc1b-g2ihcv06eui2slel.mdb.yandexcloud.net:9091,rc1d-nid72s2343jq9vsd.mdb.yandexcloud.net:9091

KAFKA_CLUSTER_NAME=kafka737
SCHEMA_SUBJECT=orders-events-value
